
.content {
    margin: 2rem;
    padding: 5% 6%;
    /* max-width: 500px; */
    background: #ffff66;
    /* color: #fff; */
    /* box-shadow: -20px -20px 0px 0px rgba(100, 100, 100, 0.1); */
}

.content h1 {
    display: block;
    position: top;
    background: #8227f8;
}

.content h1 span {
    display: block;
    font-size: 0.8rem;
    margin-bottom: 0.7rem;
    margin-left: 3px;
    margin-top: 0.2rem;
}
.mdui-col-xs-6{
    /* background-color: rgb(191, 243, 186); */
}

.mdui-card{
    /* background-color: gr; */
    float: left;
    
    width: 25%;
}
.mdui-card-media{
     
    width: auto;
    height: auto;
    /* background-color: khaki; */
    padding: 3%;
}

.mdui-card-primary-title {
    padding: 3%;
    font-size: 20px;
    line-height: 30px
}

.mdui-card-primary-subtitle {
    padding: 3%;
    font-size: 14px;
    line-height: 20px
}
@media(max-width:720px) {
    .mdui-card{
        float: left;
        width: 50%;
    }
}