@import "./grid.less";
.content {
    margin: 2rem;
    padding: 5% 6%;
    /* max-width: 500px; */
    background: #ffff66;
    /* color: #fff; */
    /* box-shadow: -20px -20px 0px 0px rgba(100, 100, 100, 0.1); */
}

.content h1 {
    display: block;
    position: top;
    background: #8227f8;
}

.content h1 span {
    display: block;
    font-size: 0.8rem;
    margin-bottom: 0.7rem;
    margin-left: 3px;
    margin-top: 0.2rem;
}


/* .gridbox{
    
    display: flex;
    flex-wrap: wrap; 
    
  }
  .weapon{
      
      float: left;
      width: 33.3%;
      
  }
  .weaponImg{
    display: block;
    width: 100%;
  } */

html {
    line-height: 1.5
}

p {
    margin-top: 0;
    margin-bottom: 16px;
    text-indent: 0
}

p:last-child {
    margin-top: 0 !important;
    margin-bottom: 0 !important
}

.with-text-indent {
    text-indent: 2em
}

.without-margin-vertical {
    margin-top: 0 !important;
    margin-bottom: 0 !important
}

.highlight-red {
    color: #ef5050 !important
}

iframe {
    display: none !important
}

.mdui-container {
    padding-top: 16px
}

.mdui-card {
    margin-bottom: 16px;
    border-radius: 4px
}

.mdui-card-final {
    margin-bottom: 0
}

.mdui-list-item {
    padding-left: 20px;
    border-radius: 0 50px 50px 0
}

.mdui-list-item-active {
    color: #1a73e8 !important;
    background-color: #e8f0fe
}

.mdui-list-item-active .material-icons {
    color: #1a73e8 !important
}

.drawer-bottom-text {
    color: rgba(0, 0, 0, .54);
    position: fixed;
    bottom: 20px;
    left: 20px;
    font-size: 14px
}

.mdui-card-primary-title {
    font-size: 20px;
    line-height: 30px
}

.mdui-card-primary-subtitle {
    font-size: 14px;
    line-height: 20px
}

.mdui-card-primary {
    padding: 18px 12px 12px 12px
}

.mdui-row {
    display: flex;
    flex-wrap: wrap
}

.subtitle {
    margin-top: 8px;
    margin-bottom: 16px;
    color: rgba(0, 0, 0, .54)
}

.homepage-recommend-item {
    height: 52px;
    line-height: 52px;
    overflow: hidden;
    padding-left: 16px;
    padding-right: 16px;
    border-bottom: 1px solid rgba(0, 0, 0, .12)
}

.homepage-recommend-item:hover {
    background-color: rgba(0, 0, 0, .08)
}

.homepage-recommend-last-item {
    border-bottom: 0
}

.beian-info {
    font-size: 12px;
    line-height: 20px;
    text-align: center;
    margin-top: 16px;
    margin-bottom: 16px
}

.beian-info a {
    color: rgba(0, 0, 0, .87)
}

.beian-info #gonganbeian span {
    position: relative;
    bottom: 6px
}

@media(min-width:600px) {
    #icpbeian {
        text-align: right;
        padding-right: 16px
    }
    #gonganbeian {
        text-align: left;
        padding-left: 16px
    }
}

.homepage-recommend-item:hover {
    background-color: rgba(0, 0, 0, .08)
}

.page-title {
    text-align: center;
    margin: 8px 0
}

a {
    text-decoration: none
}

.update-history-card {
    height: 200px
}

@media(min-width:1024px) {
    .update-history-card {
        height: 240px
    }
}

.update-history-content {
    height: calc(100% - 84px);
    overflow: hidden
}

.appear-history-divider {
    height: 0;
    padding-bottom: 12px
}

.update-data-settings {
    color: rgba(0, 0, 0, .54);
    text-align: right
}

.update-property-parent {
    display: flex;
    flex-wrap: wrap;
    margin-right: -8px;
    justify-content: space-between
}

@media(min-width:1024px) {
    .update-property-parent {
        margin-right: -12px
    }
}

.update-property-card {
    padding: 8px 6px;
    line-height: 20px;
    text-align: center;
    height: 100px;
    width: 104px;
    margin-right: 8px
}

@media(min-width:1024px) {
    .update-property-card {
        margin-right: 12px
    }
}

.update-property-key,
.update-property-value {
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center
}

.update-property-key {
    margin-bottom: 8px;
    height: 36px;
    font-size: 13px;
    font-weight: bold;
    color: rgba(0, 0, 0, .54)
}

.update-property-value {
    height: 40px
}

.flex-item-placeholder {
    height: 0 !important;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    padding-top: 0 !important;
    padding-bottom: 0 !important
}

.building-num-parent {
    display: flex;
    flex-wrap: wrap;
    margin-right: -8px;
    margin-bottom: -8px;
    justify-content: space-between
}

.building-num-card {
    padding: 8px 6px;
    line-height: 20px;
    text-align: center;
    height: 64px;
    width: 76px;
    margin-right: 6px;
    margin-bottom: 6px
}

.building-num-key,
.building-num-value {
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center
}

.building-num-key {
    margin-bottom: 8px;
    height: 20px;
    font-weight: bold;
    color: rgba(0, 0, 0, .54)
}

.building-num-value {
    height: 22px
}

.update-attr-image {
    max-height: 100px;
    max-width: 100px
}

.update-big-image-parent {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%
}

.update-big-image {
    width: auto !important;
    max-height: 200px
}

@media(min-width:1024px) {
    .update-big-image {
        max-height: 240px
    }
}

.mdui-table td:first-child,
.mdui-table th:first-child {
    padding-left: 12px;
    padding-right: 12px
}

.mdui-table td:nth-child(2),
.mdui-table th:nth-child(2) {
    padding-left: 12px
}

.less-padding-table td,
.less-padding-table th {
    padding: 4px 6px
}

@media(min-width:1024px) {
    .less-padding-table td,
    .less-padding-table th {
        padding: 8px 12px
    }
}

.mdui-table-fluid table {
    padding-bottom: 2px
}

.update-data {
    background-color: #fff;
    z-index: 1000
}

.update-data th:first-child,
.update-data td:first-child {
    background-color: #fff;
    position: -webkit-sticky;
    position: sticky;
    left: 0;
    z-index: 1
}

.update-data tr:hover td:first-child {
    background-color: #eee;
    transition: background-color .28s cubic-bezier(.4, 0, .2, 1)
}

.update-data th {
    background-color: #fff;
    z-index: 2
}

.update-data th:first-child {
    z-index: 3
}

.mini-card-parent {
    display: flex;
    flex-wrap: wrap;
    margin-right: -8px;
    justify-content: space-between;
    padding-left: 2px
}

.mini-card {
    width: 60px;
    margin-right: 16px
}

.mini-card-pic {
    width: 60px;
    height: 60px;
    margin-bottom: 6px
}

.mini-card-text {
    margin-bottom: 4px;
    text-align: center;
    height: calc(100% - 70px);
    display: flex;
    justify-content: center;
    align-items: center
}

@media(min-width:600px) {
    .mini-card-parent {
        margin-right: -16px
    }
    .mini-card {
        width: 75px;
        margin-right: 24px
    }
    .mini-card-pic {
        width: 75px;
        height: 75px;
        margin-bottom: 8px
    }
    .mini-card-text {
        margin-bottom: 6px;
        height: calc(100% - 86px)
    }
}

.currency {
    width: 16px
}

.table-text-center th,
.table-text-center td {
    text-align: center !important
}

.unit-description {
    display: none;
    padding-top: 8px;
    padding-bottom: 8px
}

.gold-pass-discount-div {
    text-align: right
}

#announce-parent {
    width: 100%;
    display: none;
    overflow: hidden
}

#announce {
    max-width: calc(100% - 56px)
}

#skin-content {
    padding: 0
}

#skin-content::after {
    height: 0
}

.unit-img-subtitle {
    padding-left: 16px;
    margin-bottom: 12px;
    font-weight: bold;
    color: rgba(0, 0, 0, .54);
    width: 100%
}

.unit-img-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0;
    padding: 8px;
    border-top: 1px solid rgba(0, 0, 0, .12);
    border-bottom: 1px solid rgba(0, 0, 0, .12)
}

.unit-img-container:last-child {
    margin: 0
}

.item-level-img {
    float: left;
    width: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 8px
}

.item-level-img img {
    max-width: 75px;
    max-height: calc(100% - 6px)
}

.item-level-img:last-child {
    margin-bottom: 0
}

.level-image-down {
    display: flex;
    justify-content: center;
    align-items: center
}

@media(min-width:1440px) {
    .item-level-img {
        width: 98px
    }
    .item-level-img img {
        max-width: 90px
    }
}

.th-level-img img {
    max-width: 45px
}

@media(max-width:345px) {
    .th-level-img img {
        max-width: 35px
    }
}

@media(min-width:768px) {
    .th-level-img img {
        max-width: 60px
    }
}

.th-level-unit-name {
    min-width: 60px
}

.skin-container {
    display: inline-block;
    padding: 12px 16px;
    height: 128px;
    border: 1px solid rgba(0, 0, 0, .12);
    margin-bottom: -1px;
    margin-right: -1px
}

.item-skin-img {
    float: left;
    width: 80px;
    height: 108px;
    margin-right: 12px
}

.item-skin-img img {
    max-width: 75px;
    max-height: calc(100% - 12px)
}

.item-skin-name {
    margin-bottom: 8px
}

.skin-default {
    background-color: rgba(255, 250, 205, .6)
}

.skin-latest {
    background-color: rgba(127, 255, 170, .4)
}

.table-img {
    width: 60px
}

@media(min-width:1024px) {
    .table-img {
        width: 75px
    }
}

@media(min-width:1440px) {
    .table-img {
        width: 90px
    }
}

.unit-type-tab {
    padding-left: 0;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1010;
    background-color: #fff;
    margin-left: -4px;
    margin-right: -4px
}

.unit-type-tab .mdui-ripple {
    margin-left: 4px
}

#menu-btn-tab {
    margin-right: 8px;
    margin-left: 8px;
    transform: matrix(1, 0, 0, 1, 0, 8)
}

@media(min-width:1024px) {
    #menu-btn-tab {
        display: none
    }
}

@media(min-width:600px) {
    .mdui-tab a {
        min-width: 70px
    }
}

@media(min-width:1024px) {
    .mdui-tab a {
        min-width: 85px
    }
}

@media(min-width:1400px) {
    .mdui-tab a {
        min-width: 100px
    }
}

@media(min-width:1920px) {
    .mdui-tab a {
        min-width: 120px
    }
}

.units {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 -8px;
    overflow: hidden
}

.update-card {
    width: 68px;
    height: 102px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2px 8px 16px 8px
}

.update-card .mdui-card-media {
    height: 62px;
    padding: 4px;
    display: flex;
    align-items: flex-end
}

.update-card .mdui-card-media img {
    width: auto;
    height: auto;
    max-width: 60px;
    max-height: 62px
}

.update-card .update-card-text {
    margin: auto;
    text-align: center;
    line-height: 1.15
}

@media(min-width:600px) {
    .units {
        margin: 0 -12px
    }
    .update-card {
        width: 84px;
        height: 118px;
        margin: 2px 12px 16px 12px
    }
    .update-card .mdui-card-media {
        height: 77px
    }
    .update-card .mdui-card-media img {
        max-width: 75px;
        max-height: 77px
    }
}

@media(min-width:1024px) {
    .units {
        margin: 0 -16px
    }
    .update-card {
        width: 90px;
        height: 134px;
        margin: 2px 16px 16px 16px
    }
    .update-card .mdui-card-media {
        height: 92px
    }
    .update-card .mdui-card-media img {
        max-width: 90px;
        max-height: 92px
    }
}

#search-input {
    display: flex;
    padding: 8px 0;
    width: 100%;
    max-width: 520px;
    margin: 0 auto
}

#search-input-textfield {
    width: 360px;
    padding: 0 0 2px 0;
    margin-left: 16px;
    transform: matrix(1, 0, 0, 1, 0, -1)
}

#search-input-btn {
    margin-left: 16px;
    transform: matrix(1, 0, 0, 1, 0, 6);
    cursor: pointer
}

#search-input-btn:hover {
    color: #ff1744
}

#search-input-info {
    height: 20px;
    line-height: 20px;
    padding-bottom: 8px;
    width: 100%;
    max-width: 520px;
    margin: 0 auto
}

#loot-index {
    height: 102px;
    text-align: center
}

@media(min-width:1440px) {
    #attention {
        height: 102px
    }
}

#loot-index-des {
    font-size: 18px
}

#loot-index-score {
    font-size: 24px;
    font-weight: bold;
    padding: 16px 0
}

#loot-index-boost {
    font-size: 16px
}

#loot-trend {
    overflow-x: auto
}

#loot-trend img {
    width: 1000px;
    max-width: none;
    margin: 0 auto
}

#search-clan-basic {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap
}

#search-clan-badge {
    text-align: center;
    flex-shrink: 0
}

@media(max-width:599px) {
    #search-clan-badge {
        margin-bottom: 8px
    }
}

#search-clan-items,
.search-player-items {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start
}

#search-clan-items div,
.search-player-items div {
    border-radius: 3px;
    margin-bottom: 8px;
    margin-right: 8px;
    padding: 6px
}

#search-clan-members {
    background-color: #fff;
    z-index: 1000
}

#search-clan-members td:first-child {
    background-color: #fff;
    position: -webkit-sticky;
    position: sticky;
    left: 0;
    z-index: 1
}

#search-clan-members th {
    background-color: #fff;
    z-index: 2
}

#search-clan-members th:first-child {
    position: -webkit-sticky;
    position: sticky;
    left: 0;
    z-index: 3
}

#search-clan-members tr:hover td:first-child {
    background-color: #eee;
    transition: background-color .28s cubic-bezier(.4, 0, .2, 1)
}

#search-clan-items-tag {
    cursor: pointer
}

#search-clan-items-tag:hover {
    box-shadow: 4px 2px 2px #eee
}

.search-player-items {
    margin-bottom: 8px
}

.search-player-name {
    height: 84px
}

#sp-clan-info {
    cursor: pointer
}

#sp-clan-info:hover {
    color: #1a73e8
}

.search-player-units .mdui-card {
    height: calc(100% - 66px)
}

.search-player-units .mdui-card-content {
    display: flex;
    flex-wrap: wrap;
    margin-right: -16px;
    margin-bottom: -16px
}

.sp-name-badge {
    float: left;
    margin-right: 8px
}

.sp-name-badge img {
    width: 100%;
    max-width: 72px
}

.sp-unit {
    margin-right: 16px;
    margin-bottom: 16px
}

.sp-unit-icon img {
    width: 45px;
    height: 45px
}

.sp-unit-level {
    text-align: center;
    font-size: 16px;
    line-height: 20px;
    font-weight: 500
}

.sp-achievement-stars {
    float: right
}

.sp-achievement-stars img {
    width: 78px
}

.search-player-achievement .mdui-card {
    height: calc(100% - 16px)
}

.sp-achievement-name {
    font-size: 17px;
    margin-bottom: 6px
}

.sp-achievement-progress {
    color: #ffa618;
    font-size: 15px;
    font-weight: bold
}

.scwl-config-basic {
    height: 90px
}

.scwl-config-badge {
    float: left;
    margin-right: 8px
}

.scwl-config-badge img {
    width: 75px
}

.scwl-config-cname {
    color: #ffa618;
    font-weight: bold;
    max-width: calc(100% - 80px)
}

.scwl-config-count table {
    width: 100%
}

.scwl-config-count td:first-child {
    width: 150px
}

#temp-units-attention div {
    padding: 8px 12px;
    margin-bottom: 8px;
    border-radius: 6px
}

#temp-units-attention div:last-child {
    margin-bottom: 0
}

#judge-square-expand {
    height: auto !important
}

#judge-square {
    height: auto !important
}